head
  meta(charset='utf-8') 
  title ae4nc
  link(href='/css/bootstrap.css', rel='stylesheet')
  | <style>
  |   body {
  |    padding-top: 60px; 
  |   }
  </style>
  link(href='favicon.ico', rel='shortcut icon')
