<div class="row">
    <div class="span12">
        <section class="title-section">
            <h1 class="title-header" style="width: 500px">{{product.name}}
                </h1>

            <!--<ul class="breadcrumb breadcrumb__t">-->
                <!--<a class="home" href="http://livedemo00.template-help.com/woocommerce_48611">Home</a> / <a href="http://livedemo00.template-help.com/woocommerce_48611/product-category/art-craft-leisure/">ART, CRAFT &amp; LEISURE</a> / D-Ring Vinyl View Binder-->
            <!--</ul>-->
        </section>
    </div>
</div>

<!--<img style="border:1px solid #303132" ng-src="data:{{img.type}};base64, {{img.image}}" ng-repeat="img in product.url" ng-class="{active: mainImageUrl==img.image}" class="phone attachment-shop_single wp-post-image" alt="{{product.name}}" title="{{product.name}}">-->

<div class="row">
    <div class="span10 right" id="content">
        <div itemscope="" itemtype="http://schema.org/Product" id="product-1946" class="post-1946 product type-product status-publish featured shipping-taxable purchasable product-type-simple product-cat-art-craft-leisure product-cat-furniture product-cat-paper-products product-cat-printers-cartridges product-tag-lorem-ipsum product-tag-sed-blandit-massa product-tag-vel-mauris instock">
            <div class="images" style="float: left">
                <div class="phone-images">
                    <img style="border:1px solid #303132" ng-src="{{img.image}}" ng-repeat="img in product.url" ng-class="{active: mainImageUrl==img.image}" class="phone attachment-shop_single wp-post-image" alt="{{product.name}}" title="{{product.name}}">
                </div>
                <div class="thumbnails" style="text-align: left">
                    <a ng-repeat="img in product.url" >
                        <img ng-click="setImage(img.image);" width="140" height="140" ng-if="img.image" ng-src="{{img.image}}" class="attachment-shop_thumbnail" alt="{{product.name}}">
                    </a>
                </div>
            </div>

            <div class="summary entry-summary" style="float:left;">
                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <h4>{{product.title}}</h4>
                    <table class="variations" cellspacing="0">
                        <tbody>
                        <tr>
                            <td class="label"><label for="pa_color">Цвет : </label></td>
                            <td class="value">
                                <ul ng-repeat="color in product.color" class="property_product">
                                    <li>{{color}}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="pa_size">Размер : </label></td>
                            <td class="value">
                                <ul ng-repeat="size in product.size" class="property_product">
                                    <li>{{size}}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="pa_category">Категория : </label></td>
                            <td class="value">{{product.category}}</td>
                        </tr>
                        <tr>
                            <td class="label"><label for="pa_price">Стоимость : </label></td>
                            <td class="value">{{product.price}} руб.</td>
                        </tr>
                        </tbody>
                    </table>

                    <!--<p class="stock ">150 in stock</p>-->
                    <meta itemprop="price" content="12">
                    <meta itemprop="priceCurrency" content="USD">
                    <link itemprop="availability" href="http://schema.org/InStock">
                </div>
                    <!--<p>Stationery store is our mission and we are proud to follow it year by year</p>-->
            </div>



            <div class="span4" style="margin-left: 0px;">
                <button
                        class="btn btn-block btn-success"
                        ng-click="cart.addItem(product._id, product.title, product.price, 1)">
                    <i class="icon-shopping-cart icon-white" /> Добавить в корзину
                </button>
                <button
                        class="btn btn-block btn-danger"
                        ng-click="cart.addItem(product._id, product.name, product.price, -10000)"
                        ng-disabled="cart.getTotalCount(product._id) < 1">
                    <i class="icon-trash icon-white" /> Удалить из корзины
                </button>
                <button
                        class="btn btn-block"
                        onclick="window.location.href=''">
                    <i class="icon-chevron-left" /> Вернуться к витрине
                </button>
            </div>


            <div class="woocommerce-tabs span10" style="float: left">
                <div class="panel entry-content" id="tab-description" style="display: block;">
                    <h4>Описание:</h4>
                    <div bind-html-unsafe="product.description"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="sidebar span2" id="sidebar" data-motopress-type="static-sidebar" >

        <div id="my_postwidget-7" class="visible-all-devices widget">
            <h4>Вопрос - ответ</h4>
            <ul class="post-list unstyled">
                <li class="post-list_li clearfix">
                    <figure class="featured-thumbnail thumbnail">
                        <a href="index.html#/articles/{{metering[0]._id}}" title="Mauris posuere"><img src="http://www.kupitdveri59.ru/assets/images/faq/faq3.jpg" alt="Mauris posuere"></a>
                    </figure>
                    <h4 class="post-list_h">
                        <a href="index.html#/articles/{{metering[0]._id}}" rel="bookmark" title="Permanent Link to Mauris posuere">Вызвать замерщика</a>
                    </h4>
                    <div class="excerpt">Компания "Двери В Дом" предост... </div>
                    <a href="index.html#/articles/{{metering[0]._id}}" class="btn btn-primary">подробнее</a>
                </li>
                <li class="post-list_li clearfix">
                    <figure class="featured-thumbnail thumbnail">
                        <a href="index.html#/articles/{{install[0]._id}}" title="Donec tempor libero"><img src="http://www.kupitdveri59.ru/assets/images/faq/faq2.jpg" alt="Donec tempor libero"></a>
                    </figure>
                    <h4 class="post-list_h">
                        <a href="index.html#/articles/{{install[0]._id}}" rel="bookmark" title="Permanent Link to Donec tempor libero">Заказать установку</a>
                    </h4>
                    <div class="excerpt">Воспользуйтесь возможностью ... </div>
                    <a href="index.html#/articles/{{install[0]._id}}" class="btn btn-primary">подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</div>