<div class="row">
    <div class="span12">
        <section class="title-section">
            <h1 class="title-header" style="width:500px">{{product.name}}
                </h1>

            <!--<ul class="breadcrumb breadcrumb__t">-->
                <!--<a class="home" href="http://livedemo00.template-help.com/woocommerce_48611">Home</a> / <a href="http://livedemo00.template-help.com/woocommerce_48611/product-category/art-craft-leisure/">ART, CRAFT &amp; LEISURE</a> / D-Ring Vinyl View Binder-->
            <!--</ul>-->
        </section>
    </div>
</div>

<div class="row">
    <div class="span11 right" id="content">
        <div itemscope="" itemtype="http://schema.org/Product" id="product-1946" class="post-1946 product type-product status-publish featured shipping-taxable purchasable product-type-simple product-cat-art-craft-leisure product-cat-furniture product-cat-paper-products product-cat-printers-cartridges product-tag-lorem-ipsum product-tag-sed-blandit-massa product-tag-vel-mauris instock">
            <div class="images" style="float:left">
                <div class="phone-images">
                    <img style="border:1px solid #303132" ng-src="data:{{img.type}};base64, {{img.image}}" ng-repeat="img in product.url" ng-class="{active: mainImageUrl==img.image}" width="300" height="300" class="phone attachment-shop_single wp-post-image" alt="{{product.name}}" title="{{product.name}}">
                </div>


                <!--<div class="phone-images">-->
                    <!--<img ng-src="data:{{img.type}};base64, {{img.image}}"-->
                         <!--class="phone"-->
                         <!--ng-repeat="img in product.url"-->
                         <!--ng-class="{active: mainImageUrl==img.image}">-->
                <!--</div>-->


                <div class="thumbnails">
                    <a ng-repeat="img in product.url" >
                        <img ng-click="setImage(img.image);" width="140" height="140" ng-if="img.image" ng-src="data:{{img.type}};base64, {{img.image}}" class="attachment-shop_thumbnail" alt="{{product.name}}">
                    </a>
                </div>
            </div>
            <div class="summary entry-summary">
                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <p class="price"><span class="amount">$12.00</span></p>
                    <meta itemprop="price" content="12">
                    <meta itemprop="priceCurrency" content="USD">
                    <link itemprop="availability" href="http://schema.org/InStock">
                </div>
                <div itemprop="description">
                    <p>Stationery store is our mission and we are proud to follow it year by year</p>
                </div>
                <p class="stock ">150 in stock</p>
                <form class="cart" method="post" enctype="multipart/form-data">
                    <div class=""><input type="number" step="1" min="1" max="150" name="quantity" value="1" title="Qty" class="input-text qty text" size="4"></div>
                    <input type="hidden" name="add-to-cart" value="1946">
                    <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
                </form>
            </div>
            <div class="woocommerce-tabs">
                <ul class="tabs">
                    <li class="description_tab active">
                        <a href="#tab-description">Description</a>
                    </li>
                    <li class="reviews_tab">
                        <a href="#tab-reviews">Reviews (2)</a>
                    </li>
               </ul>
                <div class="panel entry-content" id="tab-description" style="display: block;">
                    <h2>Product Description</h2>
                    <p>Stationery store is our mission and we are proud to follow it year by year. We are glad to deliver you the premium products and first class services. You should know that as a customer you will get huge benefits while cooperating with our company. Our customer care policy helped us stay at the top of our business for over fifteen years because we know our business and do our job reliably every time.</p>
                    <p>Our nationwide stationery stores network attracts many clients with additional services that are available for our clients at any of our stores. Delivery system was always one of our main trumps – you don’t have to worry about the safety of your order. Home delivery is a very widespread service nowadays and it is obvious that our company also offers such kind of delivery.</p>
                    <p>Our range of goods counts more than 5000 world famous brands and even own branded office products. It means that you can easily choose the best office supplies and other related goods at our store without any problems. High quality and low prices are the cornerstones of our business.</p>
                    <p>We really hope that you’ll enjoy your experience of working with our store and we would be glad to receive any feedback about our services and products. So, please don’t hesitate to leave your comments and of course visit our store – we are sure that you’ll find many useful things here. And remember – our prices are fair enough to make your visit really pleasant.</p>
                </div>
            </div>
<!--                <div class="panel entry-content" id="tab-reviews" style="display: none;">
                    <div id="reviews">
                        <div id="comments">
                            <h2>2 reviews for D-Ring Vinyl View Binder</h2>
                            <ol class="commentlist">
                                <li itemprop="reviews" itemscope="" itemtype="http://schema.org/Review" class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-15">
                                    <div id="comment-15" class="comment_container">
                                        <img alt="admin" src="http://1.gravatar.com/avatar/b263802e2004e058851acabb4111135e?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" class="avatar avatar-60 photo" height="60" width="60">
                                        <div class="comment-text">
                                            <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" class="star-rating" title="Rated 3 out of 5">
                                                <span style="width:60%"><strong itemprop="ratingValue">3</strong> out of 5</span>
                                                <b class="rate_content">Rated 3 out of 5</b></div>
                                            <p class="meta">
                                                <strong itemprop="author">admin</strong> – <time itemprop="datePublished" datetime="2014-01-27T16:22:02+00:00">January 27, 2014</time>:
                                            </p>
                                            <div itemprop="description" class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus fringilla hendrerit lectus nec vehicula.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li itemprop="reviews" itemscope="" itemtype="http://schema.org/Review" class="comment byuser comment-author-admin bypostauthor odd alt thread-odd thread-alt depth-1" id="li-comment-17">
                                    <div id="comment-17" class="comment_container">
                                        <img alt="admin" src="http://1.gravatar.com/avatar/b263802e2004e058851acabb4111135e?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" class="avatar avatar-60 photo" height="60" width="60">
                                        <div class="comment-text">
                                            <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" class="star-rating" title="Rated 5 out of 5">
                                                <span style="width:100%"><strong itemprop="ratingValue">5</strong> out of 5</span>
                                                <b class="rate_content">Rated 5 out of 5</b></div>
                                            <p class="meta">
                                                <strong itemprop="author">admin</strong> – <time itemprop="datePublished" datetime="2014-01-27T16:22:39+00:00">January 27, 2014</time>:
                                            </p>
                                            <div itemprop="description" class="description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div id="review_form_wrapper">
                            <div id="review_form">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/woocommerce_48611/product/product-12/#respond" style="display:none;">Cancel reply</a></small></h3>
                                    <form action="http://livedemo00.template-help.com/woocommerce_48611/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                                        <p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true"></p>
                                        <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" aria-required="true"></p>
                                        <p class="comment-form-rating"><label for="rating">Your Rating</label><p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span></p><select name="rating" id="rating" style="display: none;">
                                        <option value="">Rate…</option>
                                        <option value="5">Perfect</option>
                                        <option value="4">Good</option>
                                        <option value="3">Average</option>
                                        <option value="2">Not that bad</option>
                                        <option value="1">Very Poor</option>
                                    </select></p><p class="comment-form-comment"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea><input type="hidden" id="_wpnonce" name="_wpnonce" value="04bc153373"><input type="hidden" name="_wp_http_referer" value="/woocommerce_48611/product/product-12/"></p> <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" value="Submit">
                                        <input type="hidden" name="comment_post_ID" value="1946" id="comment_post_ID">
                                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                    </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div> </div>-->
            <!--</div>-->

        </div>
    </div>
</div>



<!--
<div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in phone.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in phone.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{phone.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{phone.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{phone.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{phone.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{phone.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{phone.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{phone.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{phone.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{phone.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{phone.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{phone.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{phone.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{phone.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{phone.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{phone.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{phone.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{phone.hardware.usb}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{phone.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{phone.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{phone.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{phone.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{phone.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{phone.additionalFeatures}}</dd>
  </li>
</ul>
-->
