<p class="text-info">
    Thanks for shopping at the Angular Store.<br />
    This is your shopping cart. Here you can edit the items,
    go back to the store, clear the cart, or check out.
</p>

        <!--http://blog.yasla.net/2013/09/angularjs-twitter-bootstrap.html-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- items -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td><b>Item</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Корзина пуста.
                    </td>
                </tr>

                <!-- cart items -->

                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.name}}</td>
                    <td class="tdCenter">
                        <div class="input-append">
                            {{formCart}}
                            <!-- use type=tel instead of  to prevent spinners -->
                            <input
                                    class="span3 text-center" type="tel"
                                    ng-model="item.quantity"
                                    ng-change="cart.saveItems()" />
                            <button
                                    class="" type="button"
                                    ng-disabled="item.quantity >= 1000"
                                    ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button>
                            <button
                                    class="" type="button"
                                    ng-disabled="item.quantity <= 1"
                                    ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
                        </div>
                    </td>
                    <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)" >
                            <i class="icon-remove" />
                        </a>
                    </td>
                </tr>


                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>
            </table>

            <div ng-show="!cart.orderproc">
                <div>
                    <form novalidate class="form-horizontal" id="orderform" name="orderform">
                        <div class="form-group" ng-class="{'has-success': order.name}">
                            <label for="order_name" class="control-label col-lg-3">Имя:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="order_name" name="order_name" ng-model="order.name">
                            </div>
                        </div>
                        <!--
                        в зависимости от результатов валидации элементу формы будет применен класс из Twitter Bootstrap:
                        has-error при ошибке заполнения
                        has-success при правильно заполненном поле
                        -->
                        <div class="form-group" ng-class="{'has-error': orderform.order_email.$invalid, 'has-success': !orderform.order_email.$invalid && order.email}">
                            <label for="order_email" class="control-label col-lg-3">Эл. почта:</label>
                            <div class="col-lg-9">
                                <input type="email" class="form-control" id="order_email" name="order_email" ng-model="order.email">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': orderform.order_phone.$invalid, 'has-success': !orderform.order_phone.$invalid}">
                            <label for="order_phone" class="control-label col-lg-3">Телефон:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="order_phone" name="order_phone" ng-model="order.phone" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-success': order.address}">
                            <label for="order_address" class="control-label col-lg-3">Адрес:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="order_address" name="order_address" ng-model="order.address">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-success': order.comments}">
                            <label for="order_comments" class="control-label col-lg-3">Комментарии к заказу:</label>
                            <div class="col-lg-9">
                                <textarea type="text" class="form-control" id="order_comments" name="order_comments" ng-model="order.comments"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div ng-show="cart.orderproc">
                Спасибо за заказ. Мы Вам ответим в ближайщее время.
            </div>

            <!--<div class="row">-->
                <!--<div ng-switch="orderform.$valid && !cart.orderproc && cart.has_items()">-->
                    <!--<button ng-switch-when="true" ng-click="send()" class="btn btn-success">Отправить</button>-->
                    <!--<button ng-switch-default class="btn btn-success" disabled>Отправить</button>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<div ng-show="orderproc" class="progress progress-striped active">-->
                        <!--<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-2"></div>-->
            <!--</div>-->

        </div>

        <div class="span4">
            <p class="text-info">
                <button
                        class="btn btn-block"
                        onclick="window.location.href='index.html'">
                    <i class="icon-chevron-left" /> Назад в магазин
                </button>
                <button
                        class="btn btn-block btn-danger"
                        ng-click="cart.clearItems()"
                        ng-disabled="cart.getTotalCount() < 1" >
                    <i class="icon-trash icon-white" /> Очистить корзину
                </button>
                <button ng-show="orderform.$valid && !cart.orderproc && cart.has_items()" ng-click="send()" class="btn btn-block btn-info" ><i class="icon-ok icon-white" />Оформить заказ</button>
                <button ng-show="!(orderform.$valid && !cart.orderproc && cart.has_items())" class="btn btn-block btn-info" disabled><i class="icon-ok icon-white" />Оформить заказ</button>
                 <!--<div ng-switch="orderform.$valid && !cart.orderproc && cart.has_items()">-->
                    <!--<button ng-switch-when="true" ng-click="send()" class="btn btn-block btn-info" ><i class="icon-ok icon-white" />Оформить заказ</button>-->
                    <!--<button ng-switch-default class="btn btn-block btn-info" disabled><i class="icon-ok icon-white" />Оформить заказ</button>-->
                <!--</div>-->

            <!--<button-->
                        <!--class="btn btn-block btn-info"-->
                        <!--ng-click="cart.registrationPurchase()">-->
                    <!--<i class="icon-ok icon-white" /> Оформить заказ-->
                <!--</button>-->
            </p>

            <br /><br />

            <!--<p class="text-info">-->
                <!--<button-->
                        <!--class="btn btn-block btn-primary"-->
                        <!--ng-click="cart.checkout('PayPal')"-->
                        <!--ng-disabled="cart.getTotalCount() < 1">-->
                    <!--<i class="icon-ok icon-white" /> check out using PayPal-->
                <!--</button>-->
                <!--<button-->
                        <!--class="btn btn-block btn-primary"-->
                        <!--ng-click="cart.checkout('Google')"-->
                        <!--ng-disabled="cart.getTotalCount() < 1">-->
                    <!--<i class="icon-ok icon-white" /> check out using Google-->
                <!--</button>-->
                <!--<button-->
                        <!--class="btn btn-block btn-primary"-->
                        <!--ng-click="cart.checkout('Stripe')"-->
                        <!--ng-disabled="cart.getTotalCount() < 1">-->
                    <!--<i class="icon-ok icon-white" /> check out using Stripe-->
                <!--</button>-->
            <!--</p>-->
            <!-- Stripe needs a form to post to -->
            <!--<form class="form-stripe"></form>-->

            <!--<br /><br />-->

        </div>
    </div>
</div>