<div ng-controller="ArticleCtrl" style="width:800px;">

    <table ng-table="tableParams" class="table">
        <tbody>
        <tr ng-repeat="article in $data" id="row_{{article._id}}">
            <td data-title="'Название'">
                <span ng-if="!article.$edit">{{article.title}}</span>
                <div ng-if="article.$edit"><input class="form-control" name="title" type="text" ng-model="article.title" /></div>
            </td>
            <td data-title="'Тип'">
                <span ng-if="!article.$edit && type.key == article.type" ng-repeat="type in article_type">
                    {{type.value}}
                </span>

                <div ng-if="article.$edit">
                    <select ng-model="articleList" x-ng-change="article.type = articleList" name="type">
                        <option ng-selected="{{type.key == article.type}}" ng-repeat="type in article_type" value="{{type.key}}">
                            {{type.value}}
                        </option>
                    </select>
                </div>
            </td>

            <td data-title="'Описание'">
                <span ng-if="!article.$edit">{{article.description}}</span>
                <div ng-if="article.$edit"><input class="form-control" name="description" type="text" ng-model="article.description" /></div>
            </td>

            <td data-title="'Изображение'">
                <img ng-if="article.url" ng-src="data:{{article.url[0].type}};base64, {{article.url[0].image}}">
                <!--<span ng-if="!article.$edit">{{article.img}}</span>-->
                <!--<div ng-if="article.$edit"><input class="form-control" name="description" type="text" ng-model="article.description" /></div>-->
            </td>


            <td data-title="'Текст'">
                <span ng-if="!article.$edit">
                    <div bind-html-unsafe="article.desc" class="article_html"></div>
                </span>
                <div ng-if="article.$edit">
                    <textarea name="desc" class="ck-editor" ng-model="article.desc"></textarea>
                </div>
            </td>

            <td data-title="'Операции'" width="200">
                <a ng-if="!article.$edit" href="" class="btn btn-default btn-xs" ng-click="article.$edit = true">Изменить</a>
                <a ng-if="article.$edit" href="" class="btn btn-primary btn-xs" ng-click="article.$edit = false; editArticle(article._id);">Сохранить</a>
                <a ng-if="article.$edit" href="" class="btn btn-warning btn-xs" ng-click="article.$edit = false;">Отменить</a>
                <a href="" class="btn btn-danger btn-xs" ng-click="deleteArticle(article._id)">Удалить</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><input type=button id="new" value="new" ng-click="expand(1)"></td>
            </tr>
            <tr ng-show="vote===1" ng-if="vote===1">
                <td colspan="4" ng-include src="'partials/createArticle.html'"></td>
            </tr>
        </tfoot>
    </table>

</div>